@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@media only screen and (max-width: 480px) {
   #header-sect {
      padding: 0 5%;
   }

   /* Style of nav Section */
   #nav-bar {
      margin-bottom: 40px;
   }

   #nav-bar .nav-title {
      display: none;
   }

   #nav-bar .nav-logo img {
      width: 80%;
   }

   #nav-bar .nav-menu {
      display: none;
   }

   #nav-bar .contact-btn {
      display: none;
   }

   #nav-bar #menu-icon {
      display: block;
      margin-right: 2.5%;
   }

   #header-sect::after {
      position: absolute;
      top: 80px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--primary-color-or);
   }

   /* Style of Hero Section */
   #hero-sect {
      flex-direction: column-reverse;
   }

   #hero-desc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   #hero-desc .hero-title {
      font-size: 2rem;
      text-align: center;
   }

   #hero-sect .detail-info {
      width: 83%;
      font-size: 0.8rem;
      text-align: center;
   }

   /* Style of curriculum section */
   #curriculum-sect {
      padding: 0 5%;
   }

   #card-cntr {
      flex-direction: column;
   }

   #curriculum-sect-cntr > .title {
      font-size: 1.8rem;
   }

   #card-cntr {
      gap: 12px;
      margin: 45px 0 10px 0;
   }

   #card-cntr .card-title {
      font-size: 1.1rem;
      text-align: center;
   }

   #card-cntr .cards {
      padding: 35px 14% 35px 14%;
   }

   #card-cntr .cards img {
      margin-bottom: 30px;
   }

   #card-cntr .cards p {
      font-size: 0.8rem;
      margin: 20px 0 20px 0;
      line-height: 21px;
   }

   #slide-btn {
      display: none;
   }

   /* Style of story section */
   #story-sect {
      width: 100%;
      padding: 0 5%;
   }

   #story-sect-cntr .title {
      font-size: 3.9rem;
   }

   #story-cntr {
      margin: 80px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
   }

   #story-cntr .big-card {
      display: none;
   }

   /* Style of card section */

   #story-cntr .card-5,
   #story-cntr .card-6 {
      display: block;
   }

   #story-cntr .cards > h4 {
      width: 90%;
      margin: 0 0 10px 12px;
      font-size: 0.65rem;
      font-weight: 600;
      line-height: 21px;
   }

   #story-cntr > .cards > button {
      position: relative;
      padding: 7px 9px;
      font-size: 0.6rem;
   }

   #story-sect-cntr .view-btn {
      padding: 10px 60px;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-white);
      background-color: #000000;
      line-height: 30px;
      border-radius: 10px;
      border: none;
   }
}
