@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   #header-sect {
      padding: 0 5%;
   }

   /* Style of nav Section */

   #nav-bar .nav-title {
      font-size: 1.7rem;
   }

   #nav-bar .nav-menu {
      gap: 20px;
   }

   #nav-bar .nav-menu > li a {
      font-size: 1.15rem;
   }

   #nav-bar .contact-btn {
      padding: 10px 30px;
      font-size: 16px;
   }

   #nav-bar .nav-logo img {
      width: 32%;
   }

   /* Style of Hero Section */

   #hero-desc .hero-title {
      font-size: 2.5rem;
   }

   #hero-sect .detail-info {
      width: 100%;
      font-size: 0.9rem;
   }

   /* Style of curriculum section */

   #curriculum-sect {
      padding: 0 5%;
   }

   #curriculum-sect-cntr > .title {
      font-size: 2.5rem;
   }

   #card-cntr {
      gap: 20px;
   }

   #card-cntr .card-title {
      font-size: 1.3rem;
      text-align: center;
   }

   #card-cntr .cards {
      padding: 39px 2.5% 35px 2.5%;
   }

   #card-cntr .cards img {
      margin-bottom: 30px;
   }

   #card-cntr .cards p {
      font-size: 0.9rem;
      margin: 15px 0 15px 0;
      line-height: 24px;
   }
   /* Style of story section */

   #story-sect {
      width: 100%;
      padding: 0 8%;
   }

   #story-sect-cntr .title {
      font-size: 2.5rem;
   }

   #story-cntr {
      margin: 80px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px;
   }

   #story-cntr .big-card h4 {
      width: 85%;
      font-size: 1.3rem;
      margin: 20px 0 20px 25px;
   }
   #story-cntr .big-card p {
      margin: 0 0 25px 25px;
      width: 87%;
      font-size: 0.86rem;
   }

   #story-cntr > .big-card > button {
      left: 5%;
      top: -5.2%;
      font-size: 0.9rem;
   }

   /* Style of card section */
   #story-cntr .cards > h4 {
      width: 88%;
      margin: 4px 0 32px 12px;
      font-size: 0.8rem;
   }

   #story-cntr > .cards > button {
      position: relative;
      padding: 10px 20px;
      font-size: 0.7rem;
   }

   #story-sect-cntr .view-btn {
      padding: 10px 50px;
      font-size: 16px;
      font-weight: 600;
   }

   /* Style of footer section */

   #footer-sect {
      position: relative;
      background-color: var(--color-sky-blue);
      width: 100%;
      padding: 0 8%;
   }

   #footer-cntr {
      width: 100%;
      padding: 125px 0 175px 0;
      gap: 0;
   }

   #footer-cntr .edu-details div {
      margin-bottom: 25px;
   }

   #footer-cntr .edu-details div h2 {
      width: 20%;
      font-size: 1.8rem;
   }

   #footer-cntr .edu-details p {
      width: 100%;
      font-size: 14px;
   }

   #footer-cntr .edu-details div img {
      width: 21%;
      margin-right: 10px;
   }

   #footer-cntr .about {
      justify-content: flex-start;
      align-items: center;
      padding: 0 0;
   }

   #footer-cntr .about > h2 {
      margin-bottom: 35px;
      font-size: 1.3rem;
   }

   #footer-cntr .about > ul {
      gap: 10px;
   }

   #footer-cntr .about > ul > li a {
      font-size: 15px;
   }

   #footer-cntr .media {
      padding-left: 0;
   }

   #footer-cntr .media .social-media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
   }

   #footer-cntr .media h2 {
      font-size: 1.3rem;
      margin-bottom: 35px;
      text-align: center;
   }

   #footer-cntr .media img {
      margin-right: 5px;
   }

   #footer-sect .news h1 {
      width: 30%;
      font-size: 1.2rem;
   }
}
